*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: #796a09;
    color: white;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
body{
    margin: 0px 10px;
}
header{
    border:1px solid blueviolet;
    
}
header nav{
    text-align: center;
    background-color: #1e26d2;
}
header nav ul{
    border: 1px solid rgb(238, 224, 30);
    display: inline-block;
}
header nav ul li{
    border:1px solid rgb(19, 201, 44);
    display: inline-block;
    
}
header nav ul li a{
    color: white;
}
header div{
    
    border:1px solid chartreuse;
    border-radius: 35px;
    display: inline-block;
    height: 80px;
    width: 80px;
    background-image:url("./img/yo.jpg");
    background-repeat: none;
    background-size:cover;
}
header div img{
    font-size: 100%;
    border-radius: 35;
}
header h1{
    border: 1px solid rgb(55 167 106);
    display: inline-block;
}
header h2{
    border:1px solid brown;
    display: inline-block;
}
main{
    border:1px solid crimson;
}
main section{
    border:1px solid rgb(204, 193, 45);
}
main section h2{
    border:1px solid rgb(155, 25, 25);
}
main section p{
    border:1px solid rgb(27, 127, 185);
}
main section ul{
    border:1px solid rgb(27, 190, 114);
}
main section ul li a{
    border:1px solid rgb(153, 7, 7);
}
.education{
   background-color: chocolate; 
}
.colorGreen{
    background-color: green;
}